@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
@import url('//fonts.googleapis.com/css?family=Lato:400');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');


/*autores Felipe S.,Lucas C.,Milena B. e Pedro C.*/


/*colocando caracteristicas comuns a elementos html em geral*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

a 
{
	text-decoration: none;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 100%;
  font-family: "Lato", sans-serif;
  background-color: #161625;
  line-height: 1;
}
.overflow-hidden {
  overflow: hidden;
}

/*div main do menu superior*/
.main 
{
  min-height: 100%;
  position: relative;
  z-index: 2;
  margin:0 auto -320px;
  min-height:100%;
  height:auto!important;
  height:100%;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.main.offcanvas_open 
{
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  -o-transform: translateX(-260px);
  transform: translateX(-260px);
}
.main.offcanvas_open header
{
  position: fixed;
}
/*adicionando dimensoes ao cabecalho*/
header {
  position: inherit;
  box-shadow: 1px 1px 1px #D7D7D7;
  height: 60px;
  width: 100%;
  background: #4e6361;
}
@media only screen and (min-width: 768px) {
  header {
    height: 60px;
  }
}
/*adicionando dimensoes a nav do menu superior*/
.fixd_nav {
  position: fixed;
  width: 100%;
  min-width: 320px;
  max-width: 100%;
  height: 60px;
  text-align: right;
  color: white;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 1px rgb(217, 217, 217);
}
.fixd_nav ul {
  width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  white-space: nowrap;
  -webkit-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.fixd_nav li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  text-align: center;
  -webkit-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}
.fixd_nav li:hover
{
  box-shadow: inset 0 -3px #228CD9;
}
.fixd_nav a {
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  position: relative;
  line-height: 59.33px;
  font-size: 12px;
  color: #8e9394;
  padding: 1.5px;
  -webkit-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}
.fixd_nav li:nth-of-type(1) 
{
  float: left;
  font-size: 12px;
}
.fixd_nav li:nth-of-type(1) a 
{
  font-size: 12px;
}

.fixd_nav a:hover {
  color: #228CD9;
  -webkit-transform: translate(0, -3px);
  -ms-transform: translate(0, -3px);
  transform: translate(0, -3px);
}
.fixd_nav a:active {
  color: #228CD9;
  opacity: 1;
  text-shadow: 0 0 1px #228CD9;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}
@media only screen and (min-width: 768px) {
  .fixd_nav {
    display: block;
  }
}





